.details-container {
  background-image: linear-gradient(
    to bottom,
    rgb(11, 5, 66),
    rgb(142, 90, 226)
  );
  height: 100vh;
  color: #fff;
  padding: 3em 5em;
  h1 {
    span {
      color: #3cbbff;
    }
  }
  .go-home {
    text-decoration: none;
    color: #3cbbff;

    &:hover {
      color: #fff;
      transition: 0.3s ease-out;
    }
  }
  .details {
    margin: 15px 0;
    .details-content {
      padding: 0;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.2);
      height: 15em;
      svg {
        height: 25%;
        width: 25%;
        margin: 10px;
      }
      .text {
        font-size: 20px;
      }
    }
    .single {
      padding-top: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .details-container {
    width: 100vw;
    height: auto;
    padding: 1em;
    h1 {
      font-size: 30px;
    }
    .details {
      .details-content {
        margin: 15px 0;
      }
    }
  }
}
