.home {
  margin: 0;
  padding: 0;
  height: 100vh;
  .background-svg {
    background-image: linear-gradient(
      to bottom,
      rgb(11, 5, 66),
      rgb(142, 90, 226)
    );
    height: 100vh;
    .weather-svg {
      .description {
        color: #fff;
        padding-top: 5em;
        margin-left: 5em;
      }
      svg {
        height: 100%;
        width: 100%;
        margin: 1em 7px 0;
      }
    }
  }
  .background-weather {
    background-image: linear-gradient(
        to bottom,
        rgb(11, 5, 66),
        rgb(142, 90, 226)
      ),
      url("../../images/weather.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    .time {
      color: #fff;
      text-align: end;
    }
    .date {
      color: #fff;
      text-align: center;
    }
  }
}

// mobile styles
@media only screen and (max-width: 768px) {
  .home {
    height: 100vh;
    width: 100vw;
    .container-fluid {
      padding: 0;
      .row {
        margin: 0;
        .background-svg {
          display: none;
        }
        .background-weather {
          height: 100vh;
          width: 100vw;
        }
      }
    }
  }
}
